<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css"> -->
    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" href="{% static 'datatable/css/style.css' %}">
</head>
<body>

    <div class="tabla-container">

        <table id="table_id" class="table table-striped">
            <thead>
                <tr>
                    <th>N° Cuenta</th>
                    <th>N° Comprobante</th>
                    <th>Tipo Comprobante</th>
                    <th>Descripcion</th>
                    <th>Débito</th>
                    <th>Crédito</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            {% for transaccion in transaccion_list %}
                <tr>
                        <td>{{transaccion.numero_cuenta}}</td>
                        <td>{{transaccion.numero_comprobante}}</td>
                        <td>{{transaccion.tipo_comprobante}}</td>
                        <td>{{transaccion.descripcion}}</td>
                        <td>{{transaccion.debito}}</td>
                        <td>{{transaccion.credito}}</td>
                        <td>
                            <button type="button" class="btn btn-success">
                                <a id="link-button-editar" href="{% url 'transaccion_update' transaccion.id %}">Editar</a>
                            </button></td>
                        <td>
                            <a href="{% url 'transaccion_delete' transaccion.id %}"><button type="button" class="btn btn-danger">Eliminar</button></a>
                        </td>
                </tr>
            {% endfor %}

            </tbody>

        </table>

        <div class="boton-crear">
            <button type="button" class="btn btn-primary">
                <a id="link-button-crear" href="{% url 'transaccion_new' %}">Crear transacción</a>
            </button>
        </div>
    
   </div>





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>

    <script src="{% static 'datatable/js/code.js' %}"></script>


</body>
</html>